<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
          https://maven.apache.org/xsd/settings-1.0.0.xsd">

          <servers>
              <server>
                <id>cloudsmith</id>
                <username>token</username>
                <password>${env.CLOUDSMITH_API_KEY}</password>
              </server>
            </servers>
          <mirrors>
                    <mirror>
                          <id>cloudsmith</id>
                          <name>Cloudsmith Proxy</name>
                          <url>https://maven.cloudsmith.io/joseph-bernie-org/develop/</url>
                          <mirrorOf>*</mirrorOf>
                    </mirror>
          </mirrors>
</settings>
